---
interface Props {
  text: string;
}

const { text } = Astro.props as Props;
---

<li>
  <div class="flex gap2 items-center text-gray-700">
    <div class="grow text-right">{text}</div>
    <div>
      <slot />
    </div>
  </div>
</li>
