---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Péter Szarvas">
	<main>
		<header class="w-fit mt-16 mx-auto text-white flex flex-col sm:flex-row sm:w-4/5 sm:gap-">

      <div>
        <p class="text-3xl mb-5">Welcome, I am</p>
        <h1 class="
          text-6xl mb-5 font-normal font-firasans text-transparent
          bg-clip-text bg-gradient-to-br from-emerald-400 to-sky-400 w-fit
        ">
          Péter<br/>
          Szarvas
        </h1>
        <p class="text-3xl">web developer</p>
      </div>
			
			<nav class="mt-16 sm:mt-0 sm:w-full flex items-center justify-end text-lg">
				<ul class="text-right flex flex-col gap-2 font-firamono text-gray-700">
          <li>
            <a href="">
              <span class="text-white">about</span>()</a>
          </li>
          <li>
            <a href="">
              &#123;"<span class="text-white">projects</span>"&#125;
            </a>
          </li>
          <li>
            <a href="">
              &lt<span class="text-white">contact</span>/&gt;
            </a>
          </li>
				</ul>
			</nav>

		</header>

	</main>
</Layout>
