---
import Link from "../components/resume/Link.astro";
import Article from "../components/resume/Article.astro";
import ContactItem from "../components/resume/ContactItem.astro";
import H2 from "../components/resume/H2.astro";
import H3 from "../components/resume/H3.astro";
import List from "../components/resume/List.astro";
import Section from "../components/resume/Section.astro";
import Strong from "../components/resume/Strong.astro";
import Layout from "../layouts/resume.astro";
import Phone from "../components/icons/phone.astro";
import Linkedin from "../components/icons/linkedin.astro";
import Github from "../components/icons/github.astro";
import Globe from "../components/icons/globe.astro";
import Mail from "../components/icons/mail.astro";
import Icon from "../components/resume/Icon.astro";
import SkillItem from "../components/resume/SkillItem.astro";
---

<Layout title="Péter Szarvas - Resume">
  <main
    class="min-h-[1120px] max-w-[794px] mx-auto outline outline-current outline-0 p-10 font-anuphan"
  >
    <div class="flex flex-wrap w-full">
      <div class="grow">
        <h1 class="text-3xl text-gray-700 uppercase font-bold">
          Péter Szarvas
        </h1>
        <p class="text-2xl pb-2">frontend developer</p>
      </div>

      <ul class="grow">
        <ContactItem text="+36 20 2746444" href="tel:+36202746444">
          <Icon appendClass="-rotate-90">
            <Phone />
          </Icon>
        </ContactItem>

        <ContactItem
          text="contact@peterszarvas.hu"
          href="mailto:contact@peterszarvas.hu"
        >
          <Icon>
            <Mail />
          </Icon>
        </ContactItem>

        <ContactItem
          text="linkedin.com/in/peterszarvas94"
          href="https://www.linkedin.com/in/peterszarvas94/"
        >
          <Icon>
            <Linkedin />
          </Icon>
        </ContactItem>

        <ContactItem
          text="github.com/peterszarvas94"
          href="https://github.com/peterszarvas94"
        >
          <Icon>
            <Github />
          </Icon>
        </ContactItem>

        <ContactItem text="peterszarvas.hu" href="https://peterszarvas.hu">
          <Icon>
            <Globe />
          </Icon>
        </ContactItem>
      </ul>
    </div>

    <Article noLine>
      <H2>Skills</H2>

      <ul class="flex flex-wrap gap-2 justify-between">
        <SkillItem>React</SkillItem>
        <SkillItem>Next.js</SkillItem>
        <SkillItem>Astro.js</SkillItem>
        <SkillItem>TypeScript</SkillItem>
        <SkillItem>JavaScript</SkillItem>
        <SkillItem>Tailwind</SkillItem>
        <SkillItem>HTML</SkillItem>
        <SkillItem>CSS</SkillItem>
        <SkillItem>REST</SkillItem>
        <SkillItem>Git</SkillItem>
        <SkillItem>Node.js</SkillItem>
      </ul>
    </Article>

    <Article>
      <H2>Some personal projects</H2>

      <List>
        <li>
          <Link href="https://peterszarvas.hu">peterszarvas.hu</Link>
          - my personal portfolio, written in React
        </li>
        <li>
          <Link href="https://adri-es-peti.hu">adri-es-peti.hu</Link>
          - online wedding invitation, React
        </li>
        <li>
          <Link href="https://szeremletanc.hu">szeremletanc.hu</Link>
          - dancegroup's website, Astro.js, with Wordpress CMS
        </li>
        <li>
          <Link href="https://pantlikazenekar.hu/">pantlikazekar.hu</Link>
          - webpage for my music band, Astro.js
        </li>
        <li>
          <Link href="https://react-calculator-seven-theta.vercel.app/">
            react-calculator-seven-theta.vercel.app
          </Link> - simple calculator, React
        </li>
        <li>
          <Link href="https://big-tac-toe.vercel.app/">
            big-tac-toe.vercel.app
          </Link>
          - tic-tac-toe with multiple options, React
        </li>
      </List>
    </Article>

    <Article>
      <H2>Experience</H2>

      <Section>
        <H3>Frontend Developer @ Kyndryl</H3>
        <p>October 2022 - present</p>
        <List>
          <li>
            Developing an internal application (like a ticketing system) for new
            business opportunities
          </li>
          <li>The team is one backend and one frontend developer (me)</li>
          <li>
            Writing code in legacy and modern <Strong text="React," />
            <Strong text="TypeScript," />JavaScript ES6+, HTML, CSS
          </li>
          <li>
            Understanding the Java backend and using it's
            <Strong text="API" />
          </li>
          <li>Using <Strong text="Git" /> for version control</li>
        </List>
      </Section>

      <Section>
        <H3>Microsoft 365 Administrator 3<sup>rd</sup> level @ Kyndryl</H3>
        <p>2021 - 2022</p>
        <List>
          <li>
            Managing hybrid cloud environment, with Azure, emphasis on Exchange
            and Microsoft 365
          </li>
          <li>PowerShell scripting for automatization</li>
        </List>
      </Section>

      <Section>
        <H3>Microsoft System Administrator 2<sup>nd</sup> level @ IBM</H3>
        <p>2020 - 2021</p>
        <List>
          <li>Administrating Windows servers, user access, backups</li>
          <li>
            Overseeing alerts, solving software issues, arranging hardware
            repairs
          </li>
        </List>
      </Section>
    </Article>

    <Article>
      <H2>Education</H2>
      <Section>
        <H3>Computer Science @ University of Szeged</H3>
        <p>3 semesters</p>
      </Section>
    </Article>

    <Article>
      <H2>Other skills and certifications</H2>
      <List>
        <li><Strong text="Azure" /> AZ-900 and AZ-104 certifications</li>
        <li>Upper-intermediate <Strong text="English" /> knowledge</li>
      </List>
    </Article>
  </main>
</Layout>
