@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .writing-v {
    writing-mode: vertical-rl;
  }

  .grayscale-60 {
    filter: grayscale(60%);
  }

  .fire {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-rose-400;
  }

  .ocean {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-emerald-400 to-sky-400; 
  }
}
